body {
background-color: #d9d9d9;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;

}
h1 {
    font-size: 4rem;
  
    font-weight: bolder;
}
 h2 {
    font-weight: bolder;
}

body i{
    color: red;
    font-size: 2rem;
}

.navbar{
    background: transparent;
    transition: 0.3s all;
    font-size: 1.2rem;
}
.navbar.smaller{
    background: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
    min-height: 70px;
    background: #fff;
}

.navbar li a{
    text-shadow: 1px 1px 8px #000;
}
.navbar a{
    color:#fff;
}
.navbar.smaller a{
    color:#000;
    text-shadow: none;
}

.navbar i {
    margin-left: 25px;
}

.navbar .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236,13,93, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar.smaller .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.logo svg{
    height: 40px;
    width: auto;
}
.logo svg path{
    fill:#fff;
}

.logo.smaller svg path{
    fill:#000;
}

#carouselExampleIndicators {
    height: 840px;
    overflow: hidden;
}


.grey {
    background-color: #e6e6e6 ;
    height: 500px;
}


.services i{
    font-size:4rem;
    color: #4682B4;
}

.usluge {
    background-image: url("");


}

.box-usluge{
    background: #ffffff;
    background-color: white ;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    min-height: 298px;
}

.box-usluge:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}
.box-usluge i{
    color: #3385ff;
}

footer {
    background: #212529;
    color: white;
    font-size: 1.5rem;
    border-top: 5px solid red;
}


.topFooter {
    height: 40px;
    background-color: #ff3333;
    text-align: center;
}

.img-fluid {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.img-fluid:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

.about {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);

}

.stoni {
    padding-top: 40px;
}

.pics{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

.pricing {
    background-image:url("../images/contact-background.jpg");
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);

}

.pricing h2{
    color:white;
}
.pricing h1{
    font-size: 2.5rem;
}

.pricing li{
    font-size: 1.5rem;
}


.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel-inner img {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

.istorijat button {
    margin-top: 28px;
}

.vatra {
    color:red !important;
}

@media (max-width: 480px) {
    p {
        font-size: 1.25rem;
    }
    #carouselExampleIndicators {
        height: 200px;
        overflow: hidden;
    }
    #svg3355 {
        width: 190px;
    }

}





.futer i {
    font-size: 4rem;
    margin-top: 40px;
}
.adresa{
    margin-top: 50px;
}

.futer {
    color:#cccccc ;
}



