body {
background-color: #e6f3ff;
    font-family: sans-serif;
}

body i{
    color: red;
    font-size: 2rem;
}
.navbar{
background-color: white;
}
#carouselExampleIndicators {
    height: 780px;
    overflow: hidden;
}


.grey {
    background-color: #e6e6e6 ;
    height: 500px;
}


.services i{
    font-size:4rem;
    color: #4682B4;
}



.box-usluge{
    background: #ffffff;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    min-height: 298px;
}

.box-usluge:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}
.box-usluge i{
    color: #999999;
}

footer {
    background: #212529;
    color: white;
}

.topFooter {
    height: 40px;
    background-color: #ff3333;
    text-align: center;
}

.img-fluid {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.img-fluid:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}

.about {
    background-color: white;

}

.stoni {
    padding-top: 100px;
}

.pics{
    background-color: white;
}

.pricing {
    background-image:url("../images/contact-background.jpg");

}

.pricing h2{
    color:white;
}

.pricing li{
    font-size: 1.5rem;
}

